.App {
  /* CSS HEX */
  --medium-sea-green: #44af69ff;
  --red-salsa: #f8333cff;
  --bright-yellow-crayola: #fcab10ff;
  --blue-munsell: #2b9eb3ff;
  --dutch-white: #dbd5b5ff;
  --grey: #727373;

  background-color: var(--blue-munsell);
  color: var(--grey);
}

.App-header {
  text-align: center;
  color: var(--bright-yellow-crayola);
  padding-top: 20px;
}

.everything {
  display: flex;
}

.controls {
  background-color: var(--bright-yellow-crayola);
  width: 20%;
  margin: 1.5%;
  padding: 1.5%;
  min-width: 209px;
  border-radius: 15px;
}

img {
  width: 100%;
}

.building-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5%;
  width: 73%;
}

#favorite-button {
  border: solid;
  color: var(--red-salsa);
  border-radius: 10px;
}

.building-with-button {
  background-color: wheat;
  width: 22%;
  min-width: 290px;
  margin: 1.5%;
  background-color: var(--dutch-white);
  border-radius: 15px;
  padding-bottom: 20px;
}

h3 {
  text-align: center;
  padding-top: 5px;
  color: var(--medium-sea-green);
}

.building-text {
  text-align: center;
}

div.dropdown-menu.show {
  /* background-color: wheat; */
  border: none;
} 

a.dropdown-item {
  color: var(--grey);   
}

#dropdown {
  background-color: azure;
  color: var(--grey);
  border: none;
}

#reset {
  border-radius: 10px;
  border: solid;
  color: var(--red-salsa);
  background-color: white;
  margin-bottom: 15px;
}

